# Global configuration
relay_url = "wss://relay.getalby.com/v1"

# Alice Config
ALICE_LND_REST = "https://127.0.0.1:8081"
ALICE_TLS_CERT_PATH = "/Users/safwanonakkal/.polar/networks/21/volumes/lnd/alice/tls.cert"
ALICE_MACAROON_PATH = "/Users/safwanonakkal/.polar/networks/21/volumes/lnd/alice/data/chain/bitcoin/regtest/admin.macaroon"
ALICE_WALLET_SERVICE_SK = "076ab82204e30a8de1aaf865deba252372329797a7161f4bdecf8a5e5d06354d"
ALICE_WALLET_SERVICE_PK = "2b77725576ad5f6fd54112d5191503adf2ddb9649ad932cd15fcd7f0c7bf457a"
ALICE_CLIENT_PK="7826269a337f027d484da945c228fcdd21da520b8e21a9d85c7657a2aac2a142"

# Bob Config
BOB_LND_REST = "https://127.0.0.1:8082"
BOB_TLS_CERT_PATH = "/Users/safwanonakkal/.polar/networks/21/volumes/lnd/bob/tls.cert"
BOB_MACAROON_PATH = "/Users/safwanonakkal/.polar/networks/21/volumes/lnd/bob/data/chain/bitcoin/regtest/admin.macaroon"
BOB_WALLET_SERVICE_SK = "53501e4811d1c23705fe1d8e49d6d2a14d66ed5f34f7c292a36fd72d7354672d"
BOB_WALLET_SERVICE_PK = "3539cdd9b45fc5c3f230600b8f890fc61e465f0144472b9b342cb140a0129de4"
BOB_CLIENT_PK="2dc454a845130af841fe1a851f14c255d7d30be35f7a2f4fa79fbf51ac6dcfc7"

